html {
  height: 100%;
  width: 100%;
}
#i1{
    border-radius: 300px;
}
body{
    background-color: white;
    box-sizing: inherit;
}


#div22{
    margin-left: 150px;
    float: left;
}
.container{
  display: flex;
}
.item{
  width: 500px;
  margin:20px;
}
#a1{
  position:absolute;
left:200px;
  top:630px;
  font-size:30px;

}
#a2{
  position:absolute;
top:670px;
  width:500px;
  left:150px;
  font-family:fantasy;
  font-size:30px;
}
#a3{
  position: absolute;
  top: 1230px;
  right: 100px;
  font-size: 40px;
  
}
#a4{
  position: absolute;
  top: 1330;
  right: 150px;
  font-size: 30px;
  width:500px;
    font-family:fantasy;
}

footer{
  background-color: #4b4444;
  text-align:center;
  color:lightgrey;
}
#btn1{
  background-color: #cdab04;
width:400px; font-size:25px;
  height: 40px;
  position: relative;
  top:-100px;
  left: 100px;
  border:none;
}
#btn2{
  background-color: #cdab04;
width:400px; font-size:25px;
  height: 40px;
  position: relative;
  top:-100px;
 left: 850px;
  border:none;
}
header{
  background-color: #4b4444;
color: white;
  height: 50px;
  

}